//Global Styling
html {
    font-size: 62.5%;
    font-family: $main-font;
}

a {
    text-decoration: none;
    color: white;
        &:hover,
        &:focus {
            color: $secondary-color;
        }
        &:active {
            color: $secondary-color;
        }
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 5.63rem;
    font-weight: 400;
    color: white;
    line-height: 37px;
}

h4 {
    font-size: 3.2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

h5 {
    font-size: 4.2rem;
    letter-spacing: 1px;
}

p {
    font-family: $secondary-font;
    font-size: 2rem;
    line-height: 32px;
}

.greenButton {
    display: inline-block;
    background-color: $main-color;
    padding: 20px;
    font-weight: 700;
    font-size: 2rem;
}

//Wrapper
.wrapper {
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
}

//Top Nav Styles
header {
    .topNav {
        display: flex;
        align-items: flex-end;
    }

    ul {
        display: flex;
    }

    li {
        text-transform: uppercase;
        font-size: 2rem;
        margin-right: 40px;
            &:first-child {
                margin-left: 40px;
            }
    }
}

//Form - Base Style
form {
    background-color: white;
    font-family: $secondary-font;
    font-size: 2rem;
    line-height: 32px;
    width: 850px;

        fieldset {
            border: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 40px;
        }

        input[type=text], 
        input[type=email] {
        height: 30px;
        padding: 20px 20px;
        margin: 10px 10px;
        border: 0;
        border-bottom: 1px solid $main-color;
        width: calc(50% - 20px);
        }

        textarea {
            border: 0;
            border: 1px solid $main-color;
            resize: none;
            width: 100%;
            margin: 20px 0;
            padding: 20px 20px;
        }

        button[type=submit]{
            background-color: $main-color;
            border:none;
            color:white;
            padding:10px 20px;
            margin: 0 auto;
            width: 100%;
            font-family: $main-font;
            font-size: 3.2rem;
            letter-spacing: 1px;
          }
}

//Footer Styles

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}