// Color Palette
$main-color: #0E902D;
$secondary-color: #F8E71C;
$tertiary-color: #074115;
$background-color: #F0EFED;

//Fonts
$main-font: 'Josefin Sans', 'sans-serif';
$secondary-font: 'Roboto', 'sans-serif';
