//Importing setup & variable partials
@import "variables";
@import "setup";
@import "global-styles";

/*********************/
/*     HOME PAGE     */
/*********************/

//Header
header {
    background-image: url(./../assets/home-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;

    .mainTitle {
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    h1 {
        padding-top: 50px;
    }

    h2 {
        font-size: 16.6rem;
        color: white;
        text-align: center;
        z-index: 1;
        width: 610px;
            span {
                color: $secondary-color;
            }
    }

    .headerImage {
        position: absolute;
        top: 175px;
        right: 0px;
    }
}

//About
.about {
    background-color: $background-color;

    .aboutSection {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

        p {
            margin: 25px 0;
        }

    h3 {
       font-size: 5.63rem;
       font-weight: 700;
       letter-spacing: 1.3px;
    }

}

//Workshops
.workshopContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 20px 0;
        
        .image,
        .content {
            width: 40%;
        }

        .image1 {
            transform: translate(-20px, -50px);
            box-shadow: 25px 25px 0 0 $secondary-color;
        }

        .image2 {
            box-shadow: -25px 25px 0 0 $secondary-color;
            transform: translate(0px, 50px);
        }
        
        .content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 40px;
        }

        .box1 {
            align-items: flex-start;

                p {
                    margin: 25px 0;
                    width: 90%;
                }
        }

        .box2 {
            align-items: flex-end;
            text-align: right;

            p {
                margin: 25px 0;
                width: 90%;
            }
        }
}

//Links
.pages {
    background-color: $background-color;

    .linkContainer {
        display: flex;
        flex-wrap: wrap;
        padding: 100px 0;

            .link {
                width: 50%;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                margin-bottom: 50px;
            }
    }

    .iconContainer {
        background-color: $secondary-color;
        display: inline-block;
        border-radius: 50%;
        padding: 15px;

            i {
                font-size: 30px;
            }
    }
    
    .textContainer {
        width: 80%;

            p {
                margin: 10px 0;
            }
    }
}

//Founder
.founder {
    background-color: $background-color;

        .founderContainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 80px 0;
        }

            .headshot {
                width: 20%;
                box-shadow: 25px 20px 0 0 $secondary-color;
            }

            .description {
                width: 70%;
            }

            .description > p {
                margin: 20px 0;
            }
}

//Gallery
.galleryContainer {
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

/*********************/
/*   CONTACT PAGE    */
/*********************/

// Header
.contact {
    background-image: url(../assets/contact-header-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;

    .contactHeader {
        background-color: black;
        padding-bottom: 30px;
    }

    .headline {
        display: flex;
        height: 65vh;
        flex-direction: column;
        justify-content: flex-end;
    }

    h5 {
        color: $secondary-color;
        font-weight: 700;
        font-size: 8rem;
        line-height: 92px;
        width: 300px;
    }
}

// Form
.formContainer {
    position: relative;

    .contactForm {
        box-shadow: -20px 20px 0 0 $secondary-color;
        position: absolute;
        top: -250px;
        left: 400px;
    }
}

//Contact Info

.contactInfo {
    height: 50vh;
    background-color: $background-color;

    .socials {
        width: 15%;
        display: flex;
        justify-content: space-between;
    }
        i {
            padding-top: 100px;
            font-size: 30px;
            color: $main-color;
        }

        i:hover,
        i:focus {
            color: darken($main-color, 20)
        }

        a:hover,
        a:focus {
            color: darken($main-color, 20)
        }
    
    .contactDetails {

        a {
            color: black;
            font-size: 2rem;
            font-weight: 700;
            display: inline-block;
            padding: 20px 0;
        }
    }
}

/*********************/
/*        BLOG       */
/*********************/

// Header
.blog {
    background-image: url(../assets/blog-header-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 85vh;

    .blogHeader {
        background-color: black;
        padding-bottom: 30px;
    }

    .headline {
        display: flex;
        height: 65vh;
        flex-direction: column;
        justify-content: flex-end;
    }

    h5 {
        color: $secondary-color;
        font-weight: 700;
        font-size: 8rem;
        line-height: 92px;
        width: 300px;
    }
}

// Blog + Aside

.blogContainer {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px 0 0;
    background-color: $background-color;
    position: relative;

    aside {
        width: 30%;
        margin-right: 25px;
        position: relative;
    
            img {
                box-shadow: 20px 20px 0 0 white;
            }

            .textContainer {
                background-color: white;
                position: relative;
                top: 10px;
                left: 20px;
                padding: 10px 0 20px 20px;
            }

            .textContainer > h4 {
                font-size: 20px;
                margin: 20px 0;
            }

            .textContainer > p {
                font-size: 20px;
                padding-bottom: 20px;
            }

            .textContainer > ul li::before {
                content: "\2022";
                color: $main-color;
                display: inline-block;
                width: 20px;
                margin-left: 10px;
              }
    }

    .blogContent {
        width: 60%;
        margin-left: 25px;
        position: relative;
        top: -250px;
        right: -20px;

        .blogImage {
            box-shadow: -20px 20px 0 0 $secondary-color;
        }
    }

    .post {
        width: 85%;
        padding: 50px 0 30px 30px;
        margin-bottom: 60px;
        box-shadow: -20px 20px 0 0 $secondary-color;

            h4 {
                padding-top: 20px;
            }
    
            p {
                padding: 10px 0;
            }

            .date {
                padding: 0;
                margin-bottom: 20px;
            }
    }

    .comment {
        display: flex;
        flex-wrap: wrap;

            .imageCol {
                width: 10%;
                margin: 30px 20px 30px 0;
            }

            .commentCol {
                width: 80%;
                margin: 30px 0;
            }

            .commentCol > p {
                font-weight: 700;
            }
    }

    form {
        margin-top: 40px;
        padding-right: 40px;
        background-color: $background-color;

            input[type=text],
            input[type=email] {
                background-color: $background-color;
                width: calc(50% - 30px);
            }

            textarea {
                background-color: $background-color;
            }
    }
}

/*********************/
/*   MEDIA QUERIES   */
/*********************/

@import "media-queries";
